{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "docker build . --file Dockerfile --tag ghcr.io/web3-plurality/plurality-mcp-server-pre:latest --tag ghcr.io/web3-plurality/plurality-mcp-server-pre:${nextRelease.version}",
        "publishCmd": "docker push ghcr.io/web3-plurality/plurality-mcp-server-pre:latest && docker push ghcr.io/web3-plurality/plurality-mcp-server-pre:${nextRelease.version}"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "tagFormat": "v${version}"
}
